@model dynamic
@{
    @foreach (var item in Model.Teachers)
    {
        ViewData["Title"] = @item.DeadNameUsername + "  Vefat İnfo";
    }
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<style>

  

    .date {
        font-size: 12px
    }

    .comment-text {
        font-size: 15px
    }

    .fs-12 {
        font-size: 12px
    }

    .shadow-none {
        box-shadow: none
    }

    .name {
        color: #007bff;
        font-size: 18px
    }

    .cursor:hover {
        color: blue
    }

    .cursor {
        cursor: pointer
    }

    .textarea {
        resize: none
    }</style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>  
    <script src="~/lib/jquery/dist/jquery.js">
    </script>
    @Html.Raw(ViewResultExtensions.ViewResult(ViewBag.Result))
@foreach (var item in Model.Teachers)
{

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">Vefat Profil</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                              @if (item.DeadImage != null)
                            {
                                var base64 = Convert.ToBase64String(item.DeadImage);

                                var img = string.Format("data:image/jpg;base64,{0}", base64);

                                <img src="@img" alt="avatar"
                                        class="rounded-circle img-fluid" style="width: 150px;">
                            }
                            else
                            {
                                
                                <img src="~/resimler/empty_user_icon_256.v2.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                            
                            }
                            <h5 class="my-3">@item.DeadNameUsername.ToUpper()</h5>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">İsim Soysim</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@item.DeadNameUsername.ToUpper()</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Vefat Yaşı</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@item.DeadAge</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Vefat Yeri</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@item.City.CityName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Vefat Tarihi</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@item.DeadDate</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row text-center">
                    <h1>Yorumlar</h1>
                </div>
            </div>
        </div>
    </section>
}



<div class="container py-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                @foreach (var item in Model.Students)
                {
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@item.CommentUser</span><span class="date text-black-75">@item.CommentDate</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">@item.CommentContent</p>
                        </div>
                        <hr />
                    </div>

                }

                @foreach (var item2 in Model.Teachers)
                {
                    <form asp-action="DeadComment" method="post" class="m-5">
                        <div class="bg-light p-2">

                            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" width="40"><textarea name="commenttext" required class="form-control ml-1 shadow-none textarea"></textarea></div>
                            <input type="hidden" class="form-control" name="deadid" value="@item2.Id">
                            <div class="mt-2 text-right"><button  class="btn btn-primary btn-sm shadow-none" type="submit">Yorum Yap</button></div>
                        </div>
                    </form>
                }

            </div>
        </div>
    </div>

</div>

<script>
    $('#btn1').click(function() {
        swal("Good job!", "You clicked the button!", "success");
    });
</script>





